.container {
    display:flex;
    flex-direction: column;
    
    align-items: center;
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}